@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html {
  font-size: 125%;
}

body {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00BBFF;
  font-weight: 600;
  text-decoration: none;
}